<div class="row justify-content-around m-3">
  <div class="flex-grow-1">
    <div class="d-flex flex-wrap justify-content-center">
      <div class="card-trip m-3">
          <img src="https://source.unsplash.com/1600x900/?cocktail" />
          <div class="card-trip-infos justify-content-center">
            <div>
              <h3><%= @cocktail.name %></h3>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-6 p-3 border bg-white align-items-start flex-column">
    <h3>Ingredients</h3>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li><%= "#{ dose.ingredient.name } | #{ dose.description }" %> <%= link_to "(delete)", cocktail_dose_path(@cocktail, dose.id), method: :delete, data: {confirm: "Are you sure?"} %></li>
      <% end %>
    </ul>
      <h5><%= link_to "Add an Ingredient", new_cocktail_dose_path(@cocktail) %></h5>
  </div>
</div>
